/* Success Message Screen Styles */
.checkmark-small {
  width: 72px;
  height: 72px;
}
.success-page .success-messsage {
  gap: 24px;
}

.success-message .btn {
  min-width: 100%;
}
.success-page .success-message h1 {
  margin-bottom: 0;
}
.confirmation {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: 1.5;
}
.confirmation span {
  font-weight: 700;
}
/* Keyframes */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.checkmark-big {
  animation: bounce 1s;
}
