/* Buttons */
.btn {
  display: block;
  padding: 16px 20px;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-size: 18px;
  transition: background-image 0.3s ease, transform 0.3s ease;
  min-width: 100%;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(to left, #ff5376, #ff944b);
  transform: scale(1.02);
}
